@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger-active > span:nth-child(1){
    @apply rotate-[44deg]
}
.hamburger-active > span:nth-child(2){
    @apply scale-0
}
.hamburger-active > span:nth-child(3){
    @apply origin-bottom-left rotate-[-44deg]
}

.drop-active > span:nth-child(1){
    @apply -rotate-45 origin-top-left 
}

.drop-active > span:nth-child(2){
    @apply rotate-45 origin-top-right relative -left-1 
}


.drop-isi > span:nth-child(1){
    @apply rotate-180 origin-top mt-[2px] scale-0
}
.drop-isi > span:nth-child(2){
    @apply origin-top 
}

.drop-isi1 > span:nth-child(1){
    @apply rotate-180 origin-top mt-[2px] scale-0
}
.drop-isi1 > span:nth-child(2){
    @apply origin-top 
}

.drop-isi2 > span:nth-child(1){
    @apply rotate-180 origin-top mt-[2px] scale-0
}
.drop-isi2 > span:nth-child(2){
    @apply origin-top 
}

.drop-isi3 > span:nth-child(1){
    @apply rotate-180 origin-top mt-[2px] scale-0
}
.drop-isi3 > span:nth-child(2){
    @apply origin-top 
}

p, h1, h2, button, div {
    @apply dark:text-slate-50
}
html{
    @apply dark:bg-slate-700
}
.bwh-input{
    @apply w-3/4 md:w-full px-2 py-2 font-light bg-transparent focus:outline-none
}

/* #kntl{
    overflow-x: scroll;
}

#kntl::-webkit-scrollbar {
    display: none;
} */

@media screen and (max-width: 768px) {
    #kntl{
    overflow-x: scroll;
}

#kntl::-webkit-scrollbar {
    display: none;
}
}

.swiper {
    width: 90%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    justify-content: center;
    align-items: center;
  }


